<a href="https://colab.research.google.com/github/codewithsrs/data-analysis/blob/main/car_dekho_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import LabelBinarizer
from sklearn.preprocessing import OneHotEncoder

from scipy.stats import boxcox
from scipy.special import inv_boxcox

from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import (StandardScaler,PolynomialFeatures,MinMaxScaler,MaxAbsScaler)
from sklearn.metrics import mean_squared_error

from sklearn.linear_model import Ridge, Lasso

from sklearn.pipeline import Pipeline
from sklearn.model_selection import KFold, cross_val_predict

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
c_data = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Machine learning/guided and self project/Copy of Car details v3.csv")

In [4]:
c_data.head()

                           name  year  ...                    torque  seats
0        Maruti Swift Dzire VDI  2014  ...            190Nm@ 2000rpm    5.0
1  Skoda Rapid 1.5 TDI Ambition  2014  ...       250Nm@ 1500-2500rpm    5.0
2      Honda City 2017-2020 EXi  2006  ...     12.7@ 2,700(kgm@ rpm)    5.0
3     Hyundai i20 Sportz Diesel  2010  ...  22.4 kgm at 1750-2750rpm    5.0
4        Maruti Swift VXI BSIII  2007  ...     11.5@ 4,500(kgm@ rpm)    5.0

[5 rows x 13 columns]

In [5]:
c_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [6]:
col = c_data.columns

In [7]:
c_data['Company'] = c_data['name'].apply(lambda x:x.split()[0])

In [8]:
c_data.head(2)

                           name  year  ...  seats  Company
0        Maruti Swift Dzire VDI  2014  ...    5.0   Maruti
1  Skoda Rapid 1.5 TDI Ambition  2014  ...    5.0    Skoda

[2 rows x 14 columns]

In [9]:
p = []
for i in range (len(c_data.mileage)):
  if str(c_data.mileage[i]).endswith('kmpl'):
    p.append(str(c_data.mileage[i]).split(' ')[0])
  else:
    p.append(float(str(c_data.mileage).split()[0])*1.40)

In [10]:
c_data['Mileage'] = p

In [11]:
c_data.head(3)

                           name  year  selling_price  ...  seats Company Mileage
0        Maruti Swift Dzire VDI  2014         450000  ...    5.0  Maruti    23.4
1  Skoda Rapid 1.5 TDI Ambition  2014         370000  ...    5.0   Skoda   21.14
2      Honda City 2017-2020 EXi  2006         158000  ...    5.0   Honda    17.7

[3 rows x 15 columns]

In [12]:
c_data.Mileage = c_data.Mileage.astype(float)

In [13]:
c_data.Mileage.mean()

18.65321604330706

In [14]:
def m(column):
  if column < 5.00:
    return float(column)+(18.65/2)
  else:
    return column

In [15]:
c_data.Mileage = c_data.Mileage.apply(m)

In [16]:
c_data['engine'] = c_data['engine'].apply(lambda x: str(x).split()[0])

In [17]:
c_data.engine = c_data.engine.astype(float)

In [18]:
c_data.head(2)

                           name  year  selling_price  ...  seats Company Mileage
0        Maruti Swift Dzire VDI  2014         450000  ...    5.0  Maruti   23.40
1  Skoda Rapid 1.5 TDI Ambition  2014         370000  ...    5.0   Skoda   21.14

[2 rows x 15 columns]

In [19]:
c_data.max_power.unique()

array(['74 bhp', '103.52 bhp', '78 bhp', '90 bhp', '88.2 bhp',
       '81.86 bhp', '57.5 bhp', '37 bhp', '67.1 bhp', '68.1 bhp',
       '108.45 bhp', '60 bhp', '73.9 bhp', nan, '67 bhp', '82 bhp',
       '88.5 bhp', '46.3 bhp', '88.73 bhp', '64.1 bhp', '98.6 bhp',
       '88.8 bhp', '83.81 bhp', '83.1 bhp', '47.3 bhp', '73.8 bhp',
       '34.2 bhp', '35 bhp', '81.83 bhp', '40.3 bhp', '121.3 bhp',
       '138.03 bhp', '160.77 bhp', '117.3 bhp', '116.3 bhp', '83.14 bhp',
       '67.05 bhp', '168.5 bhp', '100 bhp', '120.7 bhp', '98.63 bhp',
       '175.56 bhp', '103.25 bhp', '171.5 bhp', '100.6 bhp', '174.33 bhp',
       '187.74 bhp', '170 bhp', '78.9 bhp', '88.76 bhp', '86.8 bhp',
       '108.495 bhp', '108.62 bhp', '93.7 bhp', '103.6 bhp', '98.59 bhp',
       '189 bhp', '67.04 bhp', '68.05 bhp', '58.2 bhp', '82.85 bhp',
       '81.80 bhp', '73 bhp', '120 bhp', '94.68 bhp', '160 bhp', '65 bhp',
       '155 bhp', '69.01 bhp', '126.32 bhp', '138.1 bhp', '83.8 bhp',
       '126.2 bhp', '98.96 bhp', '62.1 bhp', '86.7 bhp', '188 bhp',
       '214.56 bhp', '177 bhp', '280 bhp', '148.31 bhp', '254.79 bhp',
       '190 bhp', '177.46 bhp', '204 bhp', '141 bhp', '117.6 bhp',
       '241.4 bhp', '282 bhp', '150 bhp', '147.5 bhp', '108.5 bhp',
       '103.5 bhp', '183 bhp', '181.04 bhp', '157.7 bhp', '164.7 bhp',
       '91.1 bhp', '400 bhp', '68 bhp', '75 bhp', '85.8 bhp', '87.2 bhp',
       '53 bhp', '118 bhp', '103.2 bhp', '83 bhp', '84 bhp', '58.16 bhp',
       '147.94 bhp', '74.02 bhp', '53.3 bhp', '80 bhp', '88.7 bhp',
       '97.7 bhp', '121.36 bhp', '162 bhp', '140 bhp', '94 bhp',
       '100.57 bhp', '82.9 bhp', '83.11 bhp', '70 bhp', '153.86 bhp',
       '121 bhp', '126.3 bhp', '73.97 bhp', '171 bhp', '69 bhp',
       '99.6 bhp', '102 bhp', '105 bhp', '63 bhp', '79.4 bhp', '97.9 bhp',
       '63.1 bhp', '66.1 bhp', '110 bhp', '174.5 bhp', '53.26 bhp',
       '73.75 bhp', '67.06 bhp', '64.08 bhp', '37.5 bhp', '189.3 bhp',
       '158.8 bhp', '61.7 bhp', '55.2 bhp', '71.01 bhp', '73.74 bhp',
       '147.9 bhp', '71 bhp', '77 bhp', '121.4 bhp', '113.4 bhp',
       '47 bhp', '130 bhp', '57.6 bhp', '138 bhp', '52.8 bhp',
       '53.64 bhp', '53.5 bhp', '76.8 bhp', '82.4 bhp', '113.42 bhp',
       '76 bhp', '84.8 bhp', '0', '56.3 bhp', '218 bhp', '112 bhp',
       '92 bhp', '105.5 bhp', '169 bhp', '95 bhp', '72.4 bhp', '115 bhp',
       '152 bhp', '91.2 bhp', '156 bhp', '74.9 bhp', '62 bhp',
       '105.3 bhp', '73.94 bhp', '85.80 bhp', '85 bhp', '118.3 bhp',
       '72 bhp', '147.51 bhp', '58 bhp', '64 bhp', '126.24 bhp',
       '76.9 bhp', '194.3 bhp', '99.23 bhp', '89.84 bhp', '123.7 bhp',
       '118.35 bhp', '99 bhp', '241 bhp', '136 bhp', '261.4 bhp',
       '104.68 bhp', '37.48 bhp', '104 bhp', '88.50 bhp', '63.12 bhp',
       '91.7 bhp', '102.5 bhp', '177.6 bhp', '45 bhp', '123.37 bhp',
       '147.8 bhp', '184 bhp', '84.48 bhp', '68.07 bhp', '74.96 bhp',
       '167.6 bhp', '152.87 bhp', '112.2 bhp', '83.83 bhp', '197 bhp',
       '110.4 bhp', '104.55 bhp', '103 bhp', '103.3 bhp', '66 bhp',
       '108.6 bhp', '165 bhp', '163.7 bhp', '116.9 bhp', '94.93 bhp',
       '127 bhp', '198.5 bhp', '179.5 bhp', '120.69 bhp', '121.31 bhp',
       '138.08 bhp', '187.7 bhp', '80.8 bhp', '86.79 bhp', '93.87 bhp',
       '116.6 bhp', '143 bhp', '92.7 bhp', '88 bhp', '58.33 bhp',
       '78.8 bhp', '64.4 bhp', '125 bhp', '139.01 bhp', '254.8 bhp',
       '181 bhp', '258 bhp', '55.23 bhp', '270.9 bhp', '265 bhp',
       '157.75 bhp', '101 bhp', '186 bhp', '187.4 bhp', '224 bhp',
       '64.9 bhp', '148 bhp', '35.5 bhp', '89.75 bhp', '32.8 bhp',
       '91.72 bhp', '106 bhp', '98.97 bhp', '66.6 bhp', '86 bhp',
       '65.3 bhp', '98.82 bhp', '198.25 bhp', '38 bhp', '142 bhp',
       '132 bhp', '174.57 bhp', '178 bhp', '163.2 bhp', '203.2 bhp',
       '177.5 bhp', '175 bhp', '57 bhp', '80.84 bhp', '68.4 bhp',
       '167.67 bhp', '170.63 bhp', '52 bhp', '149.5 bhp', '48.21 bhp',
       ' bhp', '201.1 bhp', '100.5 bhp', '144 bhp', '194.4 bhp',
       '168.7 bhp', '104.5 bhp', '103.26 bhp', '116.4 bhp', '98.79 bhp',
       '80.9 bhp', '58.3 bhp', '272 bhp', '235 bhp', '167.62 bhp',
       '170.30 bhp', '139.46 bhp', '158 bhp', '110.5 bhp', '82.5 bhp',
       '141.1 bhp', '38.4 bhp', '197.2 bhp', '161 bhp', '194 bhp',
       '122.4 bhp', '134.10 bhp', '60.2 bhp', '134 bhp', '203 bhp',
       '135.1 bhp'], dtype=object)

In [20]:
def spl(column):
  return str(column).split(' ')[0]

In [21]:
c_data.max_power = c_data.max_power.apply(spl)

In [22]:
c_data['max_power'].mask(c_data['max_power'] == 'nan', 0, inplace=True)

In [23]:
c_data['max_power'].mask(c_data['max_power'] == 'bhp', 0, inplace=True)

In [24]:
c_data['max_power'].mask(c_data['max_power'] == '', 0, inplace=True)

In [25]:
c_data.max_power = c_data.max_power.astype(float)

In [26]:
c_data['max_power'].mask(c_data['max_power'] == 0, 74.0, inplace=True)

In [27]:
c_data.drop('name',axis = 1,inplace = True)
c_data.drop('mileage',axis = 1,inplace = True)
c_data.head(2)

   year  selling_price  km_driven  ... seats Company Mileage
0  2014         450000     145500  ...   5.0  Maruti   23.40
1  2014         370000     120000  ...   5.0   Skoda   21.14

[2 rows x 13 columns]

In [28]:
c_data.engine.unique()

array([1248., 1498., 1497., 1396., 1298., 1197., 1061.,  796., 1364.,
       1399., 1461.,  993.,   nan, 1198., 1199.,  998., 1591., 2179.,
       1368., 2982., 2494., 2143., 2477., 1462., 2755., 1968., 1798.,
       1196., 1373., 1598., 1998., 1086., 1194., 1172., 1405., 1582.,
        999., 2487., 1999., 3604., 2987., 1995., 1451., 1969., 2967.,
       2497., 1797., 1991., 2362., 1493., 1599., 1341., 1794.,  799.,
       1193., 2696., 1495., 1186., 1047., 2498., 2956., 2523., 1120.,
        624., 1496., 1984., 2354.,  814.,  793., 1799.,  936., 1956.,
       1997., 1499., 1948., 2997., 2489., 2499., 2609., 2953., 1150.,
       1994., 1388., 1527., 2199.,  995., 2993., 1586., 1390.,  909.,
       2393., 3198., 1339., 2835., 2092., 1595., 2496., 1596., 1597.,
       2596., 2148., 1299., 1590., 2231., 2694., 2200., 1795., 1896.,
       1796., 1422., 1489., 2359., 2197., 2999., 1781., 2650., 1343.,
       2446., 3498., 2198., 2776., 1950.])

In [29]:
c_data['engine'].mask(c_data['engine'] == '  nan', 0, inplace=True)

In [30]:
c_data.engine = c_data.engine.apply(lambda x:str(x).strip())

In [31]:
c_data['engine'].mask(c_data['engine'] == 'nan', 0, inplace=True)

In [32]:
c_data.engine = c_data.engine.astype(float)

In [33]:
c_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           8128 non-null   int64
 1   selling_price  8128 non-null   int64
 2   km_driven      8128 non-null   int64
 3   fuel           8128 non-null   object
 4   seller_type    8128 non-null   object
 5   transmission   8128 non-null   object
 6   owner          8128 non-null   object
 7   engine         8128 non-null   float64
 8   max_power      8128 non-null   float64
 9   torque         7906 non-null   object
 10  seats          7907 non-null   float64
 11  Company        8128 non-null   object
 12  Mileage        8128 non-null   float64
dtypes: float64(4), int64(3), object(6)
memory usage: 825.6+ KB

In [34]:
c_data.drop(c_data[c_data.km_driven < 500].index, inplace = True)

In [35]:
c_data.owner = c_data.owner.apply(lambda x:x.split(' ')[0])
c_data.owner.unique()

array(['First', 'Second', 'Third', 'Fourth', 'Test'], dtype=object)

In [36]:
c_data['engine'].mask(c_data['engine'] == 0.0,742.0, inplace=True)

In [37]:
c_data.torque.unique()

array(['190Nm@ 2000rpm', '250Nm@ 1500-2500rpm', '12.7@ 2,700(kgm@ rpm)',
       '22.4 kgm at 1750-2750rpm', '11.5@ 4,500(kgm@ rpm)',
       '113.75nm@ 4000rpm', '7.8@ 4,500(kgm@ rpm)', '59Nm@ 2500rpm',
       '170Nm@ 1800-2400rpm', '160Nm@ 2000rpm', '248Nm@ 2250rpm',
       '78Nm@ 4500rpm', nan, '84Nm@ 3500rpm', '115Nm@ 3500-3600rpm',
       '200Nm@ 1750rpm', '62Nm@ 3000rpm', '219.7Nm@ 1500-2750rpm',
       '114Nm@ 3500rpm', '115Nm@ 4000rpm', '69Nm@ 3500rpm',
       '172.5Nm@ 1750rpm', '6.1kgm@ 3000rpm', '114.7Nm@ 4000rpm',
       '60Nm@ 3500rpm', '90Nm@ 3500rpm', '151Nm@ 4850rpm',
       '104Nm@ 4000rpm', '320Nm@ 1700-2700rpm', '250Nm@ 1750-2500rpm',
       '145Nm@ 4600rpm', '146Nm@ 4800rpm', '343Nm@ 1400-3400rpm',
       '200Nm@ 1400-3400rpm', '200Nm@ 1250-4000rpm',
       '400Nm@ 2000-2500rpm', '138Nm@ 4400rpm', '360Nm@ 1200-3400rpm',
       '200Nm@ 1200-3600rpm', '380Nm@ 1750-2500rpm', '173Nm@ 4000rpm',
       '400Nm@ 1750-3000rpm', '400Nm@ 1400-2800rpm',
       '200Nm@ 1750-3000rpm', '111.7Nm@ 4000rpm', '219.6Nm@ 1500-2750rpm',
       '112Nm@ 4000rpm', '250Nm@ 1500-3000rpm', '130Nm@ 4000rpm',
       '205Nm@ 1750-3250rpm', '280Nm@ 1350-4600rpm', '99.04Nm@ 4500rpm',
       '77Nm@ 3500rpm', '110Nm@ 3750rpm', '153Nm@ 3800rpm',
       '113.7Nm@ 4000rpm', '114Nm@ 4000rpm', '113Nm@ 4200rpm',
       '101Nm@ 3000rpm', '290Nm@ 1800-2800rpm', '120Nm@ 4250rpm',
       '250Nm@ 1500~4500rpm', '96 Nm at 3000 rpm', '360Nm@ 1750-2800rpm',
       '135Nm@ 2500rpm', '259.8Nm@ 1900-2750rpm', '200Nm@ 1900rpm',
       '259.9Nm@ 1900-2750rpm', '91Nm@ 4250rpm', '96.1Nm@ 3000rpm',
       '109Nm@ 4500rpm', '400nm@ 1750-3000rpm', '202Nm@ 3600-5200rpm',
       '430Nm@ 1750-2500rpm', '347Nm@ 4300rpm', '382nm@ 1750-2250rpm',
       '620Nm@ 1600-2400rpm', '400Nm@ 1750-2500rpm', '250@ 1250-5000rpm',
       '500Nm@ 1600-1800rpm', '250Nm@ 1600-3600rpm', '400Nm',
       '550Nm@ 1750-2750rpm', '490Nm@ 1600rpm', '250 Nm at 2750 rpm',
       '177.5Nm@ 4700rpm', '170Nm@ 1750-4000rpm', '300Nm@ 1200-4000rpm',
       '300Nm@ 1200-1400rpm', '260Nm@ 1500-2750rpm', '213Nm@ 4500rpm',
       '224Nm@ 4000rpm', '640Nm@ 1740rpm', '113Nm@ 4500rpm',
       '95Nm@ 3000-4300rpm', '13.1kgm@ 4600rpm', '205Nm@ 1800-2800rpm',
       '71Nm@ 3500rpm', '190Nm@ 1750-3000rpm', '146Nm at 4800 rpm',
       '14.9 KGM at 3000 RPM', '115Nm@ 3200rpm', '117nm@ 4000rpm',
       '320Nm@ 1500-3000rpm', '72Nm@ 4386rpm', '11.4 kgm at 4,000 rpm',
       '140Nm@ 1500-4000rpm', '134Nm@ 4000rpm', '150Nm@ 4500rpm',
       '340Nm@ 1800-3250rpm', '240Nm@ 1600-2800rpm',
       '330Nm@ 1600-2800rpm', '12.5@ 3,500(kgm@ rpm)', '110Nm@ 4800rpm',
       '111.8Nm@ 4000rpm', '11.8@ 3,200(kgm@ rpm)', '135.4Nm@ 2500rpm',
       '300Nm@ 1750-2500rpm', '190.25nm@ 1750-2250rpm',
       '140Nm@ 1800-3000rpm', '20.4@ 1400-3400(kgm@ rpm)',
       '247Nm@ 1800-2000rpm', '223Nm@ 1600-2200rpm',
       '180 Nm at 1440-1500rpm', '195Nm@ 1400-2200rpm',
       '154.9Nm@ 4200rpm', '114.73Nm@ 4000rpm', '160Nm@ 1500-2750rpm',
       '108Nm@ 4400rpm', '190.24nm@ 1750-2250rpm', '200Nm@ 2000-3500rpm',
       '420Nm@ 1400-2600rpm', '100Nm@ 2700rpm', '51Nm@ 4000rpm',
       '250Nm@ 1250-5300rpm', '132Nm@ 3000rpm', '350Nm@ 1500-2750rpm',
       '218Nm@ 4200rpm', '14.9@ 3,000(kgm@ rpm)',
       '24@ 1,900-2,750(kgm@ rpm)', '13.5@ 2,500(kgm@ rpm)',
       '85Nm@ 3000rpm', '74.5Nm@ 4000rpm', '160Nm@ 1750rpm',
       '180.4Nm@ 1750-2500rpm', '230Nm@ 1500-2500rpm',
       '113.75Nm@ 4000rpm', '219.66nm@ 1500-2750rpm', '245Nm@ 1750rpm',
       '360Nm@ 1400-3200rpm', '320Nm@ 2000rpm', '135 Nm at 2500  rpm ',
       '24 KGM at 1900-2750 RPM', '190Nm@ 1750-2250rpm',
       '204Nm@ 2000-2750rpm', '14.3@ 1,800-3,000(kgm@ rpm)',
       '250nm@ 1500-2750rpm', '125Nm@ 2000rpm', '172Nm@ 4300rpm',
       '150Nm@ 1750rpm', '102Nm@ 4000rpm', '85Nm@ 2500rpm',
       '8.5@ 2,500(kgm@ rpm)', '180Nm@ 1440-1500rpm', '106.5Nm@ 4400rpm',
       '108.5Nm@ 5000rpm', '350Nm@ 1750-2500rpm', '144.15nm@ 4500rpm',
       '104Nm@ 4400rpm', '99Nm@ 4500rpm', '200Nm@ 2000rpm',
       '280Nm@ 1800-2800rpm', '142.5Nm@ 1750rpm', '140Nm@ 4400rpm',
       '115@ 2,500(kgm@ rpm)', '196Nm@ 5000rpm',
       '260 Nm at 1800-2200 rpm', '9.8@ 3,000(kgm@ rpm)',
       '209Nm@ 2000rpm', '135 Nm at 2500 rpm', '140Nm@ 4200rpm',
       '220Nm at 1400-2600 rpm', '48Nm@ 3000rpm', '171Nm@ 1800rpm',
       '277.5Nm@ 1700-2200rpm', '215Nm@ 3600rpm', '219.6Nm@ 1750-2750rpm',
       '195Nm@ 1440-2200rpm', '13@ 2,500(kgm@ rpm)', '180Nm@ 2000rpm',
       '200Nm@ 1400-2200rpm', '380Nm(38.7kgm)@ 2500rpm', '110Nm@ 4400rpm',
       '72Nm@ 4388rpm', '263.7Nm@ 2500rpm', '320Nm@ 1600-2800rpm',
       '25.5@ 1,500-3,000(kgm@ rpm)', '16.3@ 2,000(kgm@ rpm)',
       '190 Nm at 1750 rpm ', '94.14Nm@ 3500rpm', '12@ 3,500(kgm@ rpm)',
       '113Nm@ 5000rpm', '280Nm@ 2400-2800rpm', '96Nm@ 3500rpm',
       '16@ 2,000(kgm@ rpm)', '320Nm@ 1750-3000rpm', '114.73nm@ 4000rpm',
       '320Nm@ 1750-2500rpm', '138nm@ 4400rpm', '190Nm@ 1750rpm',
       '789Nm@ 2250rpm', '259.87Nm@ 1900-2750rpm', '205Nm@ 1750rpm',
       '436.39Nm@ 1800-2500rpm', '182.5Nm@ 1500-1800rpm',
       '90.3Nm@ 4200rpm', '12.5@ 2,500(kgm@ rpm)', '215Nm@ 1750-3000rpm',
       '215Nm@ 1750-3000', '305Nm@ 2000rpm', '540Nm@ 2000rpm',
       '327Nm@ 2600rpm', '300Nm@ 1600-3000rpm', '620Nm@ 2000-2500rpm',
       '450Nm@ 1600-2400rpm', '19@ 1,800(kgm@ rpm)',
       '9.2@ 4,200(kgm@ rpm)', '145@ 4,100(kgm@ rpm)',
       '51Nm@ 4000+/-500rpm', '110Nm@ 3000rpm', '148Nm@ 3500rpm',
       '116Nm@ 4750rpm', '48@ 3,000+/-500(NM@ rpm)', '148Nm@ 4000rpm',
       '222Nm@ 4300rpm', '135.3Nm@ 5000rpm', '98Nm@ 1600-3000rpm',
       '170Nm@ 1400-4500rpm', '343Nm@ 1400-2800rpm',
       '402Nm@ 1600-3000rpm', '113Nm@ 3300rpm', '99.07Nm@ 4500rpm',
       '210nm@ 1600-2200rpm', '190 Nm at 1750  rpm ', '32.1kgm@ 2000rpm',
       '224nm@ 1500-2750rpm', '400nm@ 1750-2500rpm',
       '215Nm@ 1750-2500rpm', '25@ 1,800-2,800(kgm@ rpm)',
       '197Nm@ 1750rpm', '136.3Nm@ 4200rpm', '470Nm@ 1750-2500rpm',
       '11@ 3,000(kgm@ rpm)', '142Nm@ 4000rpm', '145Nm@ 4100rpm',
       '320Nm@ 1500-2800rpm', '123Nm@ 1000-2500rpm',
       '218Nm@ 1400-2600rpm', '510@ 1600-2400', '220Nm@ 1500-2750rpm',
       '380Nm@ 2000rpm', '104Nm@ 3100rpm', '292Nm@ 2000rpm',
       '20@ 3,750(kgm@ rpm)', '46.5@ 1,400-2,800(kgm@ rpm)',
       '380Nm@ 2500rpm', '15@ 3,800(kgm@ rpm)', '136Nm@ 4250rpm',
       '228Nm@ 4400rpm', '149Nm@ 4500rpm', '187Nm@ 2500rpm',
       '146Nm@ 3400rpm', '8.6@ 3,500(kgm@ rpm)', '219.7Nm@ 1750-2750rpm',
       '190Nm@ 2000-3000', '450Nm@ 2000rpm', '300Nm@ 2000rpm',
       '230Nm@ 1800-2000rpm', '42@ 2,000(kgm@ rpm)',
       '110Nm@ 3000-4300rpm', '110(11.2)@ 4800', '330Nm@ 1800rpm',
       '225Nm@ 1500-2500rpm', '380Nm@ 1750-2750rpm',
       '28.3@ 1,700-2,200(kgm@ rpm)', '259.88Nm@ 1900-2750rpm',
       '580Nm@ 1400-3250rpm', '400 Nm /2000 rpm', '127Nm@ 3500rpm',
       '300Nm@ 1500-2500rpm', '132.3Nm@ 4000rpm', '113nm@ 4400rpm',
       '151NM@ 4850rpm', '153Nm@ 3750-3800rpm', '10.7@ 2,500(kgm@ rpm)',
       '124.6Nm@ 3500rpm', '78Nm@ 3500rpm', '219.9Nm@ 1750-2750rpm',
       '420.7Nm@ 1800-2500rpm', '130Nm@ 3000rpm', '424Nm@ 2000rpm',
       '130@ 2500(kgm@ rpm)', '99.8Nm@ 2700rpm', '113Nm@ 4,500rpm',
       '11.2@ 4,400(kgm@ rpm)', '240Nm@ 1850rpm', '16.1@ 4,200(kgm@ rpm)',
       '320Nm@ 1750-2700rpm', '115Nm@ 4500rpm', '245Nm@ 4000rpm',
       '321Nm@ 1600-2400rpm', '619Nm@ 1600-2400rpm',
       '380Nm@ 1750-3000rpm', '560Nm@ 1500rpm', '230Nm@ 1500-2250rpm',
       '90Nm@ 2650rpm', '260Nm@ 1800-2200rpm', '600Nm@ 2000rpm',
       '259.87nm@ 1500-3000rpm', '16.6@ 4,500(kgm@ rpm)',
       '219.66NM@ 1500-2750rpm', '12.5@ 3,000(kgm@ rpm)',
       '620Nm@ 1500-2500rpm', '250Nm@ 1500-4500rpm',
       '14.9@ 3,400(kgm@ rpm)', '25.5@ 1,900(kgm@ rpm)',
       '33.7@ 1,800(kgm@ rpm)', '285Nm@ 2400-4000rpm',
       '10.7@ 2,600(kgm@ rpm)', '250Nm@ 1000-2000rpm', '240Nm@ 1750rpm',
       '226Nm@ 4400rpm', '510Nm@ 1600-2800rpm', '259.87NM@ 1500-3000rpm',
       '155 Nm at 1600-2800 rpm', '240Nm@ 2000rpm', '103Nm@ 4500rpm',
       '13.5@ 4,800(kgm@ rpm)', '400Nm@ 1750-2750rpm',
       '175Nm@ 1500-4100rpm', '72.9Nm@ 2250rpm', '135.4Nm@ 2500',
       '245Nm@ 5000rpm', '57Nm@ 2500rpm', '96Nm@ 2500rpm',
       '215nm@ 1750-2500rpm', '10.4@ 3,200(kgm@ rpm)', '128Nm@ 3100rpm',
       '102Nm@ 2600rpm', '131Nm@ 4400rpm', '11.4@ 4,000(kgm@ rpm)',
       '250Nm@ 4250rpm', '343Nm@ 1600-2800rpm', '185Nm@ 1750-2750rpm',
       '12@ 2500(kgm@ rpm)', '12.4@ 2,600(kgm@ rpm)', '170Nm@ 4200rpm',
       '176Nm@ 1500rpm', '380NM@ 1800-2800rpm', '250Nm@ 1600-2000rpm',
       '24.5@ 3,500-4,500(kgm@ rpm)', '22.9@ 1,950-4,700(kgm@ rpm)',
       '113Nm@ 4400rpm', '121Nm@ 2800rpm', '210 / 1900',
       '250Nm@ 1250-5000rpm', '400Nm@ 175-2750rpm', '350Nm@ 1500-3500rpm',
       '175nm@ 1750-4000rpm', '115@ 2500(kgm@ rpm)', '110Nm@ 4500rpm',
       '190Nm@ 2000-3000rpm', '106Nm@ 2200rpm',
       '21.4@ 1,750-4,600(kgm@ rpm)', '96Nm@ 3000rpm',
       '23.6@ 4,250(kgm@ rpm)', '11.3kgm@ 4700rpm', '450Nm@ 1750-2500rpm',
       '35.7@ 1,750-3,000(kgm@ rpm)', '6@ 2,500(kgm@ rpm)',
       '13.9 kgm at 4200 rpm', '320Nm@ 1400-4100rpm',
       '150Nm@ 1700-4500rpm', '113.8Nm@ 4000rpm', '110@ 3,000(kgm@ rpm)',
       '151Nm@ 2400rpm', '62Nm@ 2500rpm', '18@ 1,600-2,200(kgm@ rpm)',
       '83Nm@ 3000rpm', '124.5Nm@ 3500rpm', '20@ 4,700(kgm@ rpm)',
       '300Nm@ 1600-4000rpm', '171.6Nm@ 1500-4000rpm',
       '21.4@ 1,900(kgm@ rpm)', '190@ 21,800(kgm@ rpm)',
       '5.7@ 2,500(kgm@ rpm)', '88.4Nm@ 4200rpm',
       '250 Nm at 1,500-3,000 rpm', '340nm@ 1750-3000rpm',
       '36.6@ 1,750-2,500(kgm@ rpm)', '12.5kgm@ 3500rpm',
       '6.1@ 3,000(kgm@ rpm)', '110Nm@ 4000rpm', '350nm@ 1800-2600rpm',
       '175nm@ 1500-4100rpm', '4.8kgm@ 3000rpm', '355Nm@ 4500rpm',
       '51@ 1,750-3,000(kgm@ rpm)', '119Nm@ 4250rpm',
       '410Nm@ 1600-2800rpm', '174Nm@ 4300rpm', '99.1Nm@ 4500rpm',
       '385Nm@ 1600-2500rpm', '180 Nm at 2000rpm', '190 Nm at 1750 rpm',
       '53@ 2,000-2,750(kgm@ rpm)', '360Nm@ 1400-2600rpm',
       '420Nm@ 2000rpm', '124Nm@ 3500rpm', '17.5@ 4,300(kgm@ rpm)',
       '360Nm@ 2000rpm', '145Nm@ 3750rpm', '85Nm@ 3500rpm',
       '190Nm@ 4200rpm', '190 Nm at 2000rpm', '13.5@ 2500(kgm@ rpm)',
       '250nm@ 1500-3000rpm', '159.8Nm@ 1500-2750rpm', '500Nm@ 2000rpm',
       '333Nm@ 1600-3200rpm', '400nm@ 2800rpm',
       '33@ 2,000-2,680(kgm@ rpm)', '10.2@ 2,600(kgm@ rpm)', '480Nm',
       '190Nm@ 4300rpm', '320Nm@ 1800-2800rpm', '380Nm@ 1750rpm',
       '250.06nm@ 1500-2750rpm', '90nm@ 3500rpm', '190Nm@ 3700rpm',
       '436.4Nm@ 1800-2500rpm', '96  Nm at 3000  rpm '], dtype=object)

In [38]:
c_data['Torque'] = c_data.torque.apply(lambda x: str(x).split(' ')[0])

In [43]:
def splt(column):
  if str(column).endswith('Nm@'):
    return str(column)[:-3]
  elif str(column).endswith('@'):
    return str(column)[:-1]
  elif str(column).endswith('Nm'):
    return str(column)[:-2]
  elif str(column).endswith('kgm'):
    return float(str(column)[:-3])*9.80
  elif str(column).endswith('nm'):
    return str(column)[:-2]
  elif str(column).endswith('NM'):
    return str(column)[:-2]
  elif str(column).endswith('Nm(38.7kgm)'):
    return str(column)[:-11]
  elif str(column).endswith(')'):
    return str(column)[:-6]
  else:
    return column

In [44]:
c_data.Torque = c_data.Torque.apply(splt)

In [45]:
c_data['Torque'].mask(c_data['Torque'] == 'nan','40', inplace=True)

In [46]:
c_data.Torque.unique()

array(['190', '250', '12.7', '22.4', '11.5', '113.75', '7.8', '59', '170',
       '160', '248', '78', '40', '84', '115', '200', '62', '219.7', '114',
       '69', '172.5', 59.78, '114.7', '60', '90', '151', '104', '320',
       '145', '146', '343', '400', '138', '360', '380', '173', '111.7',
       '219.6', '112', '130', '205', '280', '99.04', '77', '110', '153',
       '113.7', '113', '101', '290', '120', '96', '135', '259.8', '259.9',
       '91', '96.1', '109', '202', '430', '347', '382', '620', '500',
       '550', '490', '177.5', '300', '260', '213', '224', '640', '95',
       128.38, '71', '14.9', '117', '72', '11.4', '140', '134', '150',
       '340', '240', '330', '12.5', '111.8', '11.8', '135.4', '190.25',
       '20.4', '247', '223', '180', '195', '154.9', '114.73', '108',
       '190.24', '420', '100', '51', '132', '350', '218', '24', '13.5',
       '85', '74.5', '180.4', '230', '219.66', '245', '204', '14.3',
       '125', '172', '102', '8.5', '106.5', '108.5', '144.15', '99',
       '142.5', '196', '9.8', '209', '220', '48', '171', '277.5', '215',
       '13', '263.7', '25.5', '16.3', '94.14', '12', '16', '789',
       '259.87', '436.39', '182.5', '90.3', '305', '540', '327', '450',
       '19', '9.2', '148', '116', '222', '135.3', '98', '402', '99.07',
       '210', 314.58000000000004, '25', '197', '136.3', '470', '11',
       '142', '123', '510', '292', '20', '46.5', '15', '136', '228',
       '149', '187', '8.6', '42', '225', '28.3', '259.88', '580', '127',
       '132.3', '10.7', '124.6', '219.9', '420.7', '424', '99.8', '11.2',
       '16.1', '321', '619', '560', '600', '16.6', '33.7', '285', '226',
       '155', '103', '175', '72.9', '57', '10.4', '128', '131', '185',
       '12.4', '176', '24.5', '22.9', '121', '106', '21.4', '23.6',
       110.74000000000001, '35.7', '6', '13.9', '113.8', '18', '83',
       '124.5', '171.6', '5.7', '88.4', '36.6', 122.50000000000001, '6.1',
       47.04, '355', '119', '410', '174', '99.1', '385', '53', '124',
       '17.5', '159.8', '333', '33', '10.2', '480', '250.06', '436.4'],
      dtype=object)

In [47]:
c_data.drop('torque',axis = 1,inplace = True)

In [48]:
c_data.head(2)

   year  selling_price  km_driven    fuel  ... seats Company Mileage  Torque
0  2014         450000     145500  Diesel  ...   5.0  Maruti   23.40     190
1  2014         370000     120000  Diesel  ...   5.0   Skoda   21.14     250

[2 rows x 13 columns]

In [49]:
c_data.seats.unique()

array([ 5.,  4., nan,  7.,  8.,  6.,  9., 10., 14.,  2.])

In [50]:
c_data.seats = c_data.seats.apply(lambda x: str(x).strip())
c_data['seats'].mask(c_data['seats'] == 'nan','4', inplace=True)

In [51]:
c_data.seats = c_data.seats.astype(float)
c_data.isnull().sum()

year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
engine           0
max_power        0
seats            0
Company          0
Mileage          0
Torque           0
dtype: int64

In [52]:
c_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8127 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year           8127 non-null   int64
 1   selling_price  8127 non-null   int64
 2   km_driven      8127 non-null   int64
 3   fuel           8127 non-null   object
 4   seller_type    8127 non-null   object
 5   transmission   8127 non-null   object
 6   owner          8127 non-null   object
 7   engine         8127 non-null   float64
 8   max_power      8127 non-null   float64
 9   seats          8127 non-null   float64
 10  Company        8127 non-null   object
 11  Mileage        8127 non-null   float64
 12  Torque         8127 non-null   object
dtypes: float64(4), int64(3), object(6)
memory usage: 888.9+ KB

In [53]:
c_data.Torque = c_data.Torque.astype(float)

In [54]:
ohc_cols = c_data.dtypes == object
ohc_colns = c_data.columns[ohc_cols]
le = LabelEncoder()
ohc = OneHotEncoder()
for col in ohc_colns:
    dat = le.fit_transform(c_data[col]).astype(int)
    c_data = c_data.drop(col,axis = 1)
    n_dat = ohc.fit_transform(dat.reshape(-1,1))
    n_cols = n_dat.shape[1]
    colname = ['_'.join([col,str(x)]) for x in range(n_cols)]
    new_df  = pd.DataFrame(n_dat.toarray(),index = c_data.index , columns = colname)
    c_data = pd.concat([c_data,new_df],axis = 1)

In [55]:
c_data.head(2)

   year  selling_price  km_driven  ...  Company_29  Company_30  Company_31
0  2014         450000     145500  ...         0.0         0.0         0.0
1  2014         370000     120000  ...         0.0         0.0         0.0

[2 rows x 54 columns]

In [56]:
y_col = 'selling_price'
x_data = c_data.drop(y_col,axis = 1)
y_data = boxcox(c_data[y_col])[0]
lambda1 = boxcox(c_data[y_col])[1]

In [57]:
m = MinMaxScaler()
lr = LinearRegression()
estimator = Pipeline([("scaler", m),
                      ("regression", lr)])
kf = KFold(shuffle=True, random_state=72018, n_splits=17)
predictions = cross_val_predict(estimator, x_data, y_data, cv=kf)
r2_score(y_data, predictions)

0.9013203020365709

In [58]:
inv_boxcox(predictions,lambda1)

array([424233.39577525, 493180.22216066, 135369.01218885, ...,
       245258.81062377, 243072.04593098, 243163.17942876])

In [59]:
s = StandardScaler()
lr = LinearRegression()
estimator = Pipeline([("scaler", s),
                      ("regression", lr)])
kf = KFold(shuffle=True, random_state=72018, n_splits=17)
predictions1 = cross_val_predict(estimator, x_data, y_data, cv=kf)
r2_score(y_data, predictions1)

-2.2041322486674505e+21

In [60]:
inv_boxcox(predictions1,lambda1)

array([425756.92935691, 493049.71627928, 135241.08251059, ...,
       245224.36812855, 243076.61627357, 243142.45982441])

In [61]:
from sklearn.model_selection import GridSearchCV

# Same estimator as before
estimator = Pipeline([("scaler", MinMaxScaler()),
        ("polynomial_features", PolynomialFeatures()),
        ("ridge_regression", Ridge())])

params = {
    'polynomial_features__degree': [1,2],
    'ridge_regression__alpha': np.geomspace(0.00001, 20, 50)
}

grid = GridSearchCV(estimator, params, cv=kf)

In [62]:
grid.fit(x_data, y_data)

GridSearchCV(cv=KFold(n_splits=17, random_state=72018, shuffle=True),
             estimator=Pipeline(steps=[('scaler', MinMaxScaler()),
                                       ('polynomial_features',
                                        PolynomialFeatures()),
                                       ('ridge_regression', Ridge())]),
             param_grid={'polynomial_features__degree': [1, 2],
                         'ridge_regression__alpha': array([1.00000000e-05, 1.34459796e-05, 1.80794368e-05, 2.43095739e-05,
       3.26866035e-05...
       1.21960381e-02, 1.63987680e-02, 2.20497501e-02, 2.96480490e-02,
       3.98647063e-02, 5.36020029e-02, 7.20731439e-02, 9.69094024e-02,
       1.30304185e-01, 1.75206742e-01, 2.35582628e-01, 3.16763922e-01,
       4.25920124e-01, 5.72691331e-01, 7.70039597e-01, 1.03539367e+00,
       1.39218822e+00, 1.87193345e+00, 2.51699790e+00, 3.38435025e+00,
       4.55059045e+00, 6.11871465e+00, 8.22721125e+00, 1.10622915e+01,
       1.48743346e+01, 2.00000000e+01])})

In [63]:
grid.best_score_, grid.best_params_

(0.9244782111386725,
 {'polynomial_features__degree': 2,
  'ridge_regression__alpha': 0.23558262807016522})

In [64]:
y_predict = grid.predict(x_data)

In [65]:
r2_score(y_data, y_predict)

0.9326431460888687

In [66]:
inv_boxcox(y_predict,lambda1)

array([428601.6462618 , 437176.9547466 , 158525.57287292, ...,
       257076.03157444, 254093.60152272, 254093.60152272])